<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link th:href="@{/css/left_panel.css}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="block-menu">
        <div class="header-menu">
            <h2>Меню:</h2>
        </div>
        <div class="content-menu">
            <a href="/roles">Роли</a>
            <a href="/users">Пользователи</a>
            <a href="/groups">Группы</a>
            <a href="/hosts">Хосты</a>
            <a href="/softwares">Приложения</a>
            <a href="/publishers">Авторы</a>
        </div>
    </div>
</body>
</html>